*~
bbb/meta-bbb/recipes-core/trebletrouble/files/bin/*
bin/
screenshot.pnm
screenshot.png
*.bin
pseudo_1.7.5.bb
poky-krogoth/meta/recipes-devtools/pseudo/files/pseudo-glibc-rtld-next-workaround.patch
bbb/build/conf/sanity_info
build/
bbb/meta-bbb/recipes-core/trebletrouble/files/src/ugfx/resources/ugfx/demos/
.DS_Store
bbb/meta-bbb/recipes-core/trebletrouble/.DS_Store
bbb/meta-bbb/recipes-core/trebletrouble/files/.DS_Store
